<div *ngIf="!paisAMostrar; else divPais" class="alert alert-info">
  Cargando...
</div>

<ng-template #divPais>
  <h2 class="col-12">País: {{paisAMostrar.name.common}}</h2>
  <hr>
  <div class="col-12 pb-5 row align-items-center justify-content-between">
    <img class="col-4 img-fluid" src="{{paisAMostrar.flags.png}}">
    <img class="col-auto img-fluid" src="{{paisAMostrar.coatOfArms.png}}" style="width:200px;">
  </div>
  <div class="col-12">
    <h3>Información:</h3>
    <ul class="list-group">
      <li class="list-group-item"><b>Población: </b>{{paisAMostrar.population}}</li>
      <li class="list-group-item"><b>Capital: </b>{{paisAMostrar.capital}}</li>
      <li class="list-group-item"><b>Región: </b>{{paisAMostrar.region}}</li>
      <li class="list-group-item"><b>Países fronterizos: </b>{{paisAMostrar.borders}}</li>
      <li class="list-group-item"><b>Mapa: </b><a href="{{paisAMostrar.maps.googleMaps}}">Ver</a></li>
    </ul>
  </div>
  <hr>
  <h3>Traducciones</h3>
  <ul class="list-inline col-12">
    <li *ngFor="let traduccion of paisAMostrar.translations | keyvalue" class="list-inline-item bg-primary p-2 rounded text-light mb-2">{{traduccion.value.common}}</li>
  </ul>
</ng-template>
