<div *ngIf="!paisAMostrar; else divPais" class="alert alert-info">
  Cargando...
</div>

<ng-template #divPais>
  <h2 class="col-12">País: {{paisAMostrar.name.common}}</h2>
  <hr>
  <div class="col-4 pb-5">
    <img class="img-fluid" src="{{paisAMostrar.flags.png}}">
  </div>
  <div class="col-8">
    <h3>Información:</h3>
    <ul class="list-group">
      <li class="list-group-item"><b>Población: </b>{{paisAMostrar.population}}</li>
      <li class="list-group-item"><b>Código numérico: </b>{{paisAMostrar.cca2}}</li>
      <li class="list-group-item"><b>Código alpha3: </b>{{paisAMostrar.cca3}}</li>
      <li class="list-group-item"><b>Capital: </b>{{paisAMostrar.capital}}</li>
    </ul>
  </div>
  <hr>
  <h3>Traducciones</h3>
  <ul class="list-group col-12" *ngFor!="let traduccion of paisAMostrar.translations">
    <li class="list-group-item col-3">{{traduccion.common}}</li>
  </ul>
</ng-template>
